<template>
  <div>
    <table>
      <thead>
      <tr>
        <th>name</th>
        <th>height</th>
        <th>mass</th>
        <th>hair_color</th>
        <th>actions</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(l, index) in list" :key="l.name">
        <td>{{ l.name }}</td>
        <td>{{ l.height }}</td>
        <td>{{ l.mass }}</td>
        <td>{{ l.hair_color }}</td>
        <td>
          <a @click.prevent="remove(l)" href="">Delete favorite</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import {ref} from "vue";
import {useStore} from "vuex";

export default {
  name: "favorites",
  setup() {
    const store = useStore()
    const list = ref()
    store.dispatch('getLocaleStore').then(() => {
      list.value = store.getters.getLocale
    })
    function remove(row) {
      store.dispatch('deleteLocaleStore', row).then(() => {
        list.value = store.getters.getLocale
      })
    }

    return {list, remove}
  }
}
</script>

<style scoped>

</style>