<template>
  <div class="peoples">
    <div style="position: relative">
      <input @input="searchName($event.target.value)" type="search" v-model="search">
      <div v-if="search !== ''" class="dropdown">
        <a @click.prevent="click(item.id)" href="" class="dropdown__item" v-for="(item, index) in searchList.results">
          <div>
            <span>{{ item.name }}</span>
            <span>{{ item.height }}</span>
          </div>
          <p>{{ item.hair_color }}</p>
        </a>
      </div>
    </div>
    <table>
      <thead>
      <tr>
        <th>name</th>
        <th>height</th>
        <th>mass</th>
        <th>hair_color</th>
        <th>actions</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="l in list.results" :key="l.id">
        <td><a href="#" @click.prevent="click(l.id)">{{ l.name }}</a></td>
        <td>{{ l.height }}</td>
        <td>{{ l.mass }}</td>
        <td>{{ l.hair_color }}</td>
        <td>
          <a @click.prevent="add(l)" href="">Add favorite</a>
          <a @click.prevent="remove(l)" href="">Remove favorite</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import {ref} from "vue";
import {useStore} from 'vuex';
import {useRouter} from 'vue-router';

export default {
  name: "peoples",
  setup() {
    const store = useStore()
    const router = useRouter()
    const list = ref({})
    store.dispatch('fetchPeoples').then(() => {
      list.value = store.getters.getPeoples
    })

    function add(row) {
      store.dispatch('setLocaleStore', row)
    }
    function remove(row) {
      store.dispatch('deleteLocaleStore', row)
    }

    const search = ref('')
    const searchList = ref({})

    const searchName = async (input) => {
      try {
        let response = await fetch(`https://swapi.dev/api/people/?search=${input}`)
        searchList.value = await response.json()
        if (input === '') {
          searchList.value = {}
        }
        for (let l in list.value.results) {
          for (let s in searchList.value.results) {
            if (searchList.value.results[s].name === list.value.results[l].name) {
              searchList.value.results[s].id = list.value.results[l].id
            }
          }
        }
      } catch (err) {
        console.log(err)
      }
    }

    function click(id) {
      router.push({
        name: 'people',
        params: {id: id}
      })
    }

    return {
      list, search, searchName, searchList, click, add, remove
    }
  }
}
</script>

<style lang="stylus">
.peoples
  padding: 20px

  input
    width: 200px
    height: 30px
    border-radius 4px
    padding-left: 12px
    outline none
    border 1px solid #c9c9c9

    &:focus
      border 1px solid blue

table
  max-width 700px
  width: 100%

  th
  td
    padding: 10px
    text-align start

    a
      display block
      text-decoration none

      &:hover
        color blue

      & + a
        margin-top: 4px

.dropdown
  border 1px solid #c9c9c9
  border-radius 5px
  background white
  box-shadow 0 0 11px 0 rgba(0, 0, 0, 0.2)
  max-width 400px
  width: 100%
  height 400px
  overflow-y scroll
  position absolute
  top: 30px
  left: 0
  z-index 1

  &__item
    text-decoration none
    display block
    padding: 10px 20px

    &:hover
      background #e7e7e7

    p
      font-size: 17px
      margin-top: 8px

    div
      display flex
      align-items center

      span
        font-size: 18px
        font-weight: 600

      span + span
        margin-left: 16px
        color green
    border-bottom 1px solid #c9c9c9

    &:last-child
      border-bottom none

    span
      display block

</style>