<template>
  <div class="person">
    <table class="person__table">
      <thead>
      <tr>
        <th>name</th>
        <th>height</th>
        <th>mass</th>
        <th>hair_color</th>
        <th>skin_color</th>
        <th>eye_color</th>
        <th>birth_year</th>
        <th>gender</th>
        <th>homeworld</th>
        <th>films</th>
        <th>species</th>
        <th>vehicles</th>
        <th>starships</th>
        <th>created</th>
        <th>edited</th>
        <th>url</th>
        <th>action</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td v-for="(l, index) in data" :key="l.name">{{ l }}</td>
        <td>
          <a v-if="!bool" @click.prevent="actionFavorite('setLocaleStore')" href="">Add favorite</a>
          <a v-else @click.prevent="actionFavorite('deleteLocaleStore')" href="">Remove favorite</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import {ref} from "vue";
import {useRoute} from "vue-router";
import {useStore} from "vuex";

export default {
  name: "person",
  setup() {
    const data = ref({})
    const route = useRoute()
    const store = useStore()
    const list = ref({})
    const bool = ref(false)
    const getData = async () => {
      const response = await fetch(`https://swapi.dev/api/people/${route.params.id}`)
      data.value = await response.json()
      return data
    }
    getData()

    async function actionFavorite(nameAction) {
      const person = (await getData())
      store.dispatch('fetchPeoples').then(() => {
        list.value = store.getters.getPeoples
        for (let l in list.value.results) {
          if (list.value.results[l].name === person.value.name) {
            person.value.id = list.value.results[l].id
            store.dispatch(nameAction, person.value)
          }
        }
      })
    }

    function checkFavorite() {
      store.dispatch('getLocaleStore').then(async () => {
        const person = (await getData())
        const localeData = store.getters.getLocale
        for (let el in localeData) {
          if (localeData[el].name === person.value.name) {
            bool.value = true
            return bool
          } else {
            bool.value = false
            return bool
          }
        }
      })
    }


    checkFavorite()

    return {data, actionFavorite, checkFavorite, bool}
  }
}
</script>

<style lang="stylus">

.person
  width: 100%
  overflow scroll


</style>