<template>
  <nav>
    <router-link active-class="active" to="/peoples/">Peoples</router-link>
    <router-link active-class="active" to="/favorites/">Favorites</router-link>
  </nav>
</template>

<script>
export default {
  name: "navigation"
}
</script>

<style lang="stylus">
nav
  background #e7e7e7
  display flex
  align-items center
  padding: 20px
  a
    font-size: 20px
    font-weight: 600
    color #6a6767
    text-decoration none
    & + a
      margin-left: 16px

.active
  text-decoration underline
</style>