<template>
  <router-view/>
</template>

<style lang="stylus">
*,
*:after
*:before
  box-sizing border-box
  line-height 1
  margin: 0
  padding: 0
  color black
  font-family: 'Roboto Light', sans-serif
</style>
