<template>
  <div>
    <navigation/>
    <div>
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import navigation from "@/components/navigation";
export default {
  name: "base-layout",
  components: {navigation}
}
</script>

<style scoped>

</style>